body > div {
    margin-bottom: 100px;
}

img {
    max-width: 200px;
}

seg[type="columns"] {
  display: flex;              
  align-items: flex-start;
}

seg[type="column"] {
  flex: 1;
}

head {
    font-family: serif;
}

address {
    font-style: normal;
}

