.halfOfCityClipping {
    border: 3px solid black;
    width: 260px;
    padding: 5px;
}

.lineSpacing {
    line-height: 0.1cm;
}

.halfCityTitle {
    font-family: "Monaco", monospace;
}

.titleIndent {
    text-indent: 10px;
}

.center {
    text-align: center;
}


.description {
    font-family: "Lucida Console Regular", monospace;
    font-size: 10px;
    text-indent: 25px;
}

