#teibpToolbox {
    display: none;
}

editor {
    display: block;
}

body > div {
    margin-bottom: 100px;
}

img {
    max-width: 300px;
}

[type="columns"] {
  display: flex;              
  align-items: flex-start;
}

[type="column"] {
  flex: 1;
}

head {
    font-family: serif;
}

address {
    font-style: normal;
}

interpGrp {
    display: block;
    margin-bottom: 3em;
}

interpGrp > desc {
    display: block;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 0.75em;
}

interpGrp > interp {
    display: block;
    margin-bottom: 0.5em;
}

back {
    background-color: #f5f5f5;
    border-radius: 8px;
    border: 1px solid #ccc; 
}

front {
    padding-bottom: 3em;
}

listBibl > bibl {
    display: block;
    margin-bottom: 0.5em;
}


