/* Place project-specific CSS here */

.topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(67, 63, 58);
    color: white;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.topnav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav li {
    position: relative;
    margin: 0 15px;
}

[serif] {
  font-family: Garamond, serif;
}

[thserif] {
  font-family: Garamond;
  text-shadow:
    2px 0 0 black,
    -2px 0 0 black,
    0 2px 0 black,
    0 -2px 0 black; 
}

[bserif] {
  font-family: Calibri, sans-serif;
  font-weight: bold;
}

[drop] {
  text-transform: capitalize;
  float: left;
  font-size: 3em;
  line-height: 1;
  font-family: Garamond, serif;
  margin-right: 0.1em;
  margin-top: 0.1em;
  color: #903;
}

[sans] {
  font-family: Calibri, sans-serif;
}

[sc] {
  font-variant: small-caps;
}

[monospace] {
  font-family: monospace;
}

[rend="caps"] {
  text-transform: capitalize;
}

[rend="gothic"] {
  font-family: Fraktur;
}

.topnav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    display: block;
    transition: background 0.3s;
}

note /* Numbered list  */ {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic

}

item /* Bulleted list  */ {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-variant: small-caps;
}

term /* Bulleted list  */ {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-variant: small-caps;
}

persName /* Bulleted list  */ {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-variant: small-caps;
}



.topnav a:hover {
    background-color: black;
    color: white;
    border-radius: 5px;
}


.topnav .has-subnav > .subnav {
    display: none;
}

.subnav li {
    margin: 0;
}

.subnav a {
    padding: 10px 15px;
    white-space: nowrap;
}

/* Show submenu on hover */
.has-subnav:hover .subnav {
    display: block;
}


#intro {
    font-style: italic;
}


.note-ref {
  position: relative;
  cursor: pointer;
  color: rgb(138, 54, 54);
}

.note-popup {
  display: none;
  position: absolute;
  background: rgb(224, 224, 224);
  color:black;
  border: none;
  padding: 6px;
  font-size: 0.9em;
  bottom: 1.5em; /* display the box above! */
  left: 0;
  z-index: 100;
  max-width: 500px;
  min-width: 200px;
  font-style: normal;
  border-radius: 6px;
}

.note-ref:hover .note-popup {
  display: block;
}

div[type="endnotes"]{
    display:none;
}