TEI {
	display: block;
	background-color: lightgray;}

teiHeader{display: none;}
teibpToolbox{display:none;}

front{
    display:block;
    
}

pb{
    
}

cb{display:none;}

div[type="chapter"]{
    
}

p{
    
}

ab{
    
}

fw{
    text-transform:uppercase;
}

figure{
   width:300px;
   float:right;
}